
*.js linguist-language=JavaScript
*.ts linguist-language=TypeScript
*.scss linguist-language=CSS
*.css linguist-language=CSS

hooks/* linguist-vendored
node_modules/* linguist-vendored
platforms/* linguist-vendored
plugins/* linguist-vendored
www/* linguist-vendored

*.js linguist-vendored=false
*.ts linguist-vendored=false
*.js linguist-vendored=false
*.scss linguist-vendored=false
*.css linguist-vendored=false
